<template>
  <div>

  <div :style='this.character.style' class="cellImgWrapper">
    <div v-if="this.character.image == null">
      <img class="grassImg" src="../assets/grass.png">
    </div>
    <div v-else>
      <img class="grassImg" src="../assets/grass.png">
      <img class="icon" :src="require('../assets/' + this.character.image + '.png')">
    </div>
  </div>
  <!-- <div class="cellImgWrapper" v-else-if="character.image=='pointy-hat'">
    <img class="grassImg" src="../assets/grass.png">
    <img class="icon" src="../assets/pointy-hat.png">
  </div>
  <div class="cellImgWrapper" v-else-if="character.image=='logo'">
    <img class="grassImg" src="../assets/grass.png">
    <img class="icon" src="../assets/logo.png">
  </div>
  <div class="cellImgWrapper" v-else-if="character.image=='crossed-swords'">
    <img class="grassImg" src="../assets/grass.png">
    <img class="icon" src="../assets/crossed-swords.png">
  </div>
  <div class="cellImgWrapper" v-else-if="character.image=='high-shot'">
    <img class="grassImg" src="../assets/grass.png">
    <img class="icon" src="../assets/high-shot.png">
  </div>
  <div class="cellImgWrapper" v-else>
    <img class="grassImg" src="../assets/grass.png">
  </div>
  <img class="grassImg" src="../assets/grass.png">
  <img class="icon" :src="require('../assets/' + this.character.image + '.png')"> -->



  </div>

</template>

<script>

export default {
  name: 'cell',
  props: {
    character: Object,
  },
  // computed: {
  //   currentIcon() {
  //     let string = '../assets/' + this.character.image + '.png'
  //     console.log('../assets/' + this.character.image + '.png')
  //     return require('../assets/' + this.character.image + '.png')
  //
  //
  //   }
  // }
}
</script>

<style>

.cellImgWrapper {
  /* border: 1px solid black; */
  /* float: left; */
  position: relative;
  height: 82.5px;
  width: 82.5px
}

.grassImg {
}

.icon {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 80px
}

</style>
