<template>
<div id="app" style="display: inline-table">
  <div :class="[gameStart ? menu : disappear]">

    <div :key=index v-for='(row,index) in icons'>
      <p>{{"Player " +(index+1)}} </p>
      <div style="display:inline-block" v-for='icon in row'>
        <cell :character='icon' @click.native="routeToAllFunctions(icon)" @mouseover.native="showStats(icon)" />
      </div>
    </div>
  </div>
  <button :class="[gameStart ? disappear : button]" @click='resign()'>Resign</button>
  <div class="board" style="display:table-cell">
    <div style="display:inline-block" class="rowLoop" v-for='row in grid'>
      <div :key='cell.id' v-for='cell in row'>
        <cell :character='cell' @click.native="routeToAllFunctions(cell)" @mouseover.native="showStats(cell)" />
      </div>
    </div>
  </div>
  <button :class="[gameStart ? disappear : button]" @click='endTurn()'>End Turn</button>
  <div style="padding-left:50px; display: table-cell; vertical-align:middle">
    <div class="sideScreen">
      <p id="stat1"></p>
      <p id="stat2"></p>
      <p id="stat3"></p>
      <p id="stat4"></p>
      <p id="stat5"></p>
      <p id="stat6"></p>
    </div>
    <div style="display:block" class="sideScreen">
      <p id="info"></p>
    </div>
  </div>
</div>
</template>

<script>
import cell from './components/cell.vue'
export default {
  name: 'app',
  components: {
    cell
  },
  data: () => ({
    archetypes: {
      wizard: {
        name: 'Wizard',
        health: 50,
        movement: 1,
        player: null,
        physicalDefence: 3,
        magicalDefence: 6,
        range: 2,
        damage: 22,
        movementToken: 1
      },
      soldier: {
        name: 'Soldier',
        health: 80,
        movement: 2,
        player: null,
        physicalDefence: 10,
        magicalDefence: 4,
        range: 1,
        damage: 27,
        movementToken: 2
      },
      archer: {
        name: 'Archer',
        health: 60,
        movement: 1,
        player: null,
        physicalDefence: 5,
        magicalDefence: 3,
        range: 3,
        damage: 35,
        movementToken: 1
      },
      bishop: {
        name: 'Bishop',
        health: 50,
        movement: 1,
        player: null,
        physicalDefence: 2,
        magicalDefence: 10,
        range: 1,
        damage: 30,
        movementToken: 1
      },
      cavalry: {
        name: 'Cavalry',
        health: 60,
        movement: 3,
        player: null,
        physicalDefence: 8,
        magicalDefence: 6,
        range: 1,
        damage: 25,
        movementToken: 3
      }
    },
    grid: null,
    icons: [
      [{
          x: 10,
          image: "pointy-hat",
          archetype: {
            name: 'Wizard',
            health: 50,
            movement: 1,
            player: null,
            physicalDefence: 3,
            magicalDefence: 6,
            range: 2,
            damage: 22,
            movementToken: 1
          }
        },
        {
          x: 10,
          image: "crossed-swords",
          archetype: {
            name: 'Soldier',
            health: 80,
            movement: 2,
            player: null,
            physicalDefence: 10,
            magicalDefence: 4,
            range: 1,
            damage: 27,
            movementToken: 2
          }
        },
        {
          x: 10,
          image: "high-shot",
          archetype: {
            name: 'Archer',
            health: 60,
            movement: 1,
            player: null,
            physicalDefence: 5,
            magicalDefence: 3,
            range: 3,
            damage: 35,
            movementToken: 1
          }
        },
        {
          x: 10,
          image: 'pope-crown',
          archetype: {
            name: 'Bishop',
            health: 50,
            movement: 1,
            player: null,
            physicalDefence: 2,
            magicalDefence: 10,
            range: 1,
            damage: 30,
            movementToken: 1
          }
        },
        {
          x: 10,
          image: 'horse-head',
          archetype: {
            name: 'Cavalry',
            health: 60,
            movement: 3,
            player: null,
            physicalDefence: 8,
            magicalDefence: 6,
            range: 1,
            damage: 25,
            movementToken: 3
          }
        }
      ],
      [{
          x: 20,
          image: "pointy-hat-blue",
          archetype: {
            name: 'Wizard',
            health: 50,
            movement: 1,
            player: null,
            physicalDefence: 3,
            magicalDefence: 6,
            range: 2,
            damage: 22,
            movementToken: 1
          }
        },
        {
          x: 20,
          image: "crossed-swords-blue",
          archetype: {
            name: 'Soldier',
            health: 80,
            movement: 2,
            player: null,
            physicalDefence: 10,
            magicalDefence: 4,
            range: 1,
            damage: 27,
            movementToken: 2
          }
        },
        {
          x: 20,
          image: "high-shot-blue",
          archetype: {
            name: 'Archer',
            health: 60,
            movement: 1,
            player: null,
            physicalDefence: 5,
            magicalDefence: 3,
            range: 3,
            damage: 35,
            movementToken: 1
          }
        },
        {
          x: 20,
          image: 'pope-crown-blue',
          archetype: {
            name: 'Bishop',
            health: 50,
            movement: 1,
            player: null,
            physicalDefence: 2,
            magicalDefence: 10,
            range: 1,
            damage: 30,
            movementToken: 1
          }
        },
        {
          x: 20,
          image: 'horse-head-blue',
          archetype: {
            name: 'Cavalry',
            health: 60,
            movement: 3,
            player: null,
            physicalDefence: 8,
            magicalDefence: 6,
            range: 1,
            damage: 25,
            movementToken: 3
          }
        }
      ]
    ],

    movementChosen: false,
    firstIconClicked: null,
    gameStart: true,
    playerTurn: null,
    numberOfPiecesChosen: 0,
    playerPick: true,
    menu: 'menu',
    disappear: 'disappear',
    playerOneUnitsLeft: 5,
    playerTwoUnitsLeft: 5
  }),
  methods: {
    gridSetup: function() {
      let grid = []
      let row = []
      for (let i = 0; i < 8; i++) {
        row = []
        for (let j = 0; j < 8; j++) {
          row.push({
            id: i + j + 1,
            x: i,
            y: j,
            image: null,
            archetype: null,
            hasMoved: false,
            style: 'border:1px solid black',
            hasAttacked: false
          })
        }
        grid.push(row)
      }
      this.grid = grid
    },
    routeToAllFunctions: async function(cell) {
      if (this.gameStart) {
        this.addCharacterToScreen(cell)
      } else if (!this.movementChosen) {
        if (cell.image) {
          if (cell.archetype.player != this.playerTurn) {
            document.getElementById("info").innerHTML = "This is not your unit."
          } else {
            this.movementChosen = !this.movementChosen
            this.firstIconClicked = cell
            this.grid[this.firstIconClicked.x][this.firstIconClicked.y].style = 'border:1px solid blue'
            this.highlightPossibleMoves(cell)
          }
        }
      } else if (this.movementChosen) {
        if (!cell.image && !this.firstIconClicked.hasMoved) {
          this.moveIcon(cell)
          this.borderReset()
          return
        }
        if (!this.firstIconClicked.hasAttacked && (cell.x != this.firstIconClicked.x || cell.y != this.firstIconClicked.y)) {
          if (!this.firstIconClicked.hasAttacked) {
            this.attack(cell)
            this.movementChosen = false
            this.borderReset()
            return
          } else {
            document.getElementById("info").innerHTML = "This unit has already attacked."
            this.movementChosen = !this.movementChosen
            this.borderReset()
          }
        } else if (cell.x == this.firstIconClicked.x && cell.y == this.firstIconClicked.y) {
          this.movementChosen = !this.movementChosen
          this.borderReset()
        } else {
          document.getElementById("info").innerHTML = "This is not a valid move."
          this.movementChosen = !this.movementChosen
          this.borderReset()
        }
      }
      if (this.playerOneUnitsLeft <= 0 || this.playerTwoUnitsLeft <= 0) {
        this.endGame()
      }
    },
    addCharacterToScreen: async function(cell) {
      if (!this.movementChosen) {
        if (!cell.image) {
          this.movementChosen = !this.movementChosen
        } else {
          this.firstIconClicked = cell

        }
      } else {

        if (this.playerPick) {
          this.checkPlayerPicksUnitFromMenu(10, true, cell, 20)
        } else {
          this.checkPlayerPicksUnitFromMenu(20, false, cell, 10)
        }
      }
      if (this.numberOfPiecesChosen == 10) {
        this.gameStart = false
        this.playerTurn = Math.random() >= 0.5
        this.showWhichPlayerTurn(this.playerTurn)
      }
      this.movementChosen = !this.movementChosen
    },
    checkPlayerPicksUnitFromMenu: async function(xTestValue, bool, cell, otherXTestValue) {
      if (cell.image) {
        document.getElementById("info").innerHTML = "Please choose unoccupied square."
      } else if (bool && cell.y > 3) {
        document.getElementById("info").innerHTML = "Please place unit in first 4 rows."
      } else if (!bool && cell.y < 4) {
        document.getElementById("info").innerHTML = "Please place unit in last 4 rows."
      } else if (this.firstIconClicked.x == xTestValue && cell.x != xTestValue && cell.x != otherXTestValue) {
        this.playerPick = !this.playerPick
        this.grid[cell.x][cell.y].archetype = Object.assign({}, this.firstIconClicked.archetype)
        this.grid[cell.x][cell.y].image = this.firstIconClicked.image
        this.grid[cell.x][cell.y].archetype.player = bool
        this.numberOfPiecesChosen += 1
      } else {
        document.getElementById("info").innerHTML = "Choose from your own units in the menu"
      }
    },
    showWhichPlayerTurn: function(bool) {
      if (bool) {
        document.getElementById("info").innerHTML = "Player 1's Turn"

      } else {
        document.getElementById("info").innerHTML = "Player 2's Turn"
      }
    },
    highlightPossibleMoves: function(cell) {
      for (let i = cell.x - cell.archetype.movementToken; i < cell.x + cell.archetype.movementToken + 1; i++) {
        for (let j = cell.y - cell.archetype.movementToken; j < cell.y + cell.archetype.movementToken + 1; j++) {
          try {
            if (((Math.abs(i - cell.x) + Math.abs(cell.y - j)) <= cell.archetype.movementToken) && (!this.grid[i][j].image && (this.grid[i][j].x != cell.x || this.grid[i][j].y != cell.y)) && !cell.hasMoved) {
              this.grid[i][j].style = 'border:1px solid white'
            }
          } catch (e) {

          }
        }

      }
      for (let i = cell.x - cell.archetype.range; i < cell.x + cell.archetype.range + 1; i++) {
        for (let j = cell.y - cell.archetype.range; j < cell.y + cell.archetype.range + 1; j++) {
          try {
            if (this.grid[i][j].image && !cell.hasAttacked) {
              if ((Math.abs(i - cell.x) + Math.abs(cell.y - j)) <= cell.archetype.range && this.grid[i][j].archetype && cell.archetype.name != "Archer") {
                if (this.grid[i][j].archetype.player == cell.archetype.player && (this.grid[i][j].x != cell.x || this.grid[i][j].y != cell.y) && cell.archetype.name == "Bishop") {
                  this.grid[i][j].style = 'border:1px solid orange'
                } else if (this.grid[i][j].archetype.player != cell.archetype.player && cell.archetype.name != "Bishop") {
                  this.grid[i][j].style = 'border:1px solid red'
                }
              } else if ((Math.abs(i - cell.x) + Math.abs(cell.y - j)) == cell.archetype.range && this.grid[i][j].archetype) {
                if (this.grid[i][j].archetype.player != cell.archetype.player) {
                  this.grid[i][j].style = 'border:1px solid red'
                }
              }
            }
          } catch (e) {

          }
        }
      }
    },
    moveIcon: async function(cell) {
      this.movementChosen = !this.movementChosen
      if (this.movementPossibilities(cell)) {

      } else {
        document.getElementById("info").innerHTML = "This is not a valid move."
      }
    },
    movementPossibilities: function(cell) {
      for (let i = this.firstIconClicked.x - this.firstIconClicked.archetype.movementToken; i < this.firstIconClicked.x + this.firstIconClicked.archetype.movementToken + 1; i++) {
        for (let j = this.firstIconClicked.y - this.firstIconClicked.archetype.movementToken; j < this.firstIconClicked.y + this.firstIconClicked.archetype.movementToken + 1; j++) {
          if (((Math.abs(this.firstIconClicked.x - i) + Math.abs(this.firstIconClicked.y - j)) <= this.firstIconClicked.archetype.movementToken && (cell.x == i && cell.y == j)) && (!cell.image && (this.firstIconClicked.x != i || this.firstIconClicked
              .y != j))) {
            this.grid[cell.x][cell.y].image = this.firstIconClicked.image
            this.grid[cell.x][cell.y].archetype = Object.assign({}, this.firstIconClicked.archetype)
            this.grid[cell.x][cell.y].hasAttacked = this.firstIconClicked.hasAttacked
            this.grid[this.firstIconClicked.x][this.firstIconClicked.y].image = null
            this.grid[this.firstIconClicked.x][this.firstIconClicked.y].archetype = null
            this.grid[cell.x][cell.y].archetype.movementToken -= (Math.abs(this.firstIconClicked.x - cell.x) + Math.abs(this.firstIconClicked.y - cell.y))
            if (this.grid[cell.x][cell.y].archetype.movementToken == 0) {
              this.grid[cell.x][cell.y].hasMoved = true
            }
            return true
          }
        }
      }
      return false
    },
    borderReset: function() {
      for (let i = 0; i < this.grid.length; i++) {
        for (let j = 0; j < this.grid.length; j++) {
          this.grid[i][j].style = 'border:1px solid black'
        }
      }
    },
    attack: async function(cell) {
      if (this.firstIconClicked.archetype.name == "Wizard") {
        let attacksCompleted = 0
        if ((Math.abs(this.firstIconClicked.x - cell.x) + Math.abs(cell.y - this.firstIconClicked.y)) <= this.firstIconClicked.archetype.range && cell.x == this
            .firstIconClicked.x)
             {
          if (cell.image) {
            if (cell.archetype.player != this.playerTurn) {
              this.attackDamage(cell,"mag")
              attacksCompleted += 1
            }
          }
          await this.sleep(1000)
          let plusShape=[[cell.x,cell.y-1],[cell.x-1,cell.y],[cell.x,cell.y+1],[cell.x+1,cell.y]]
          for(let i=0;i<plusShape.length;i++)
          {
            try {
              if (this.grid[plusShape[i][0]][plusShape[i][1]].image != null && this.grid[plusShape[i][0]][plusShape[i][1]].archetype.player != this.playerTurn) {
                this.attackDamage(this.grid[plusShape[i][0]][plusShape[i][1]],"mag")
                attacksCompleted += 1
                await this.sleep(1000)
              }
            } catch (e) {}
          }
          if (attacksCompleted != 0) {
          } else {
            document.getElementById("info").innerHTML = "This is not a valid attack target."
          }

        } else {
          document.getElementById("info").innerHTML = "This is not a valid attack target."
        }
      } else if (cell.image) {
        if (this.firstIconClicked.archetype.name == "Soldier") {
          if ((Math.abs(this.firstIconClicked.x - cell.x) + Math.abs(cell.y - this.firstIconClicked.y)) <= this.firstIconClicked.archetype.range && cell.archetype.player != this.playerTurn) {
            this.attackDamage(cell,"phys")
          } else {
            document.getElementById("info").innerHTML = "This is not a valid attack target."
          }
        } else if (this.firstIconClicked.archetype.name == "Archer") {
          if ((Math.abs(this.firstIconClicked.x - cell.x) + Math.abs(cell.y - this.firstIconClicked.y)) == this.firstIconClicked.archetype.range && cell.archetype.player != this.playerTurn) {
            this.attackDamage(cell,"phys")
          } else {
            document.getElementById("info").innerHTML = "This is not a valid attack target."
          }
        } else if (this.firstIconClicked.archetype.name == "Bishop") {
          if ((Math.abs(this.firstIconClicked.x - cell.x) + Math.abs(cell.y - this.firstIconClicked.y)) <= this.firstIconClicked.archetype.range && cell.archetype.player == this.playerTurn) {
            let previousDamage = this.grid[cell.x][cell.y].archetype.health
            this.grid[cell.x][cell.y].archetype.health += this.firstIconClicked.archetype.damage
            for (let i = 0; i < this.icons[0].length; i++) {
              if (this.grid[cell.x][cell.y].archetype.name == this.icons[0][i].archetype.name) {
                let currentHealth = Math.min(this.grid[cell.x][cell.y].archetype.health, this.icons[0][i].archetype.health)
                this.grid[cell.x][cell.y].archetype.health = currentHealth
                if (currentHealth - previousDamage == 0) {
                  return
                }
                document.getElementById("info").innerHTML = cell.archetype.name + " has gained " + (currentHealth - previousDamage) + " health."
              }
            }
          } else {
            document.getElementById("info").innerHTML = "This is not a valid attack target."
          }
        } else if (this.firstIconClicked.archetype.name == "Cavalry") {
          if ((Math.abs(this.firstIconClicked.x - cell.x) + Math.abs(cell.y - this.firstIconClicked.y)) <= this.firstIconClicked.archetype.range && cell.archetype.player != this.playerTurn) {
            if (this.firstIconClicked.archetype.movementToken <this.firstIconClicked.archetype.movement-1)
            {
              this.firstIconClicked.archetype.damage = 40
            } else {
              this.firstIconClicked.archetype.damage = 23
            }
            this.attackDamage(cell,"phys")
          } else {
            document.getElementById("info").innerHTML = "This is not a valid attack target."
          }
        }
      } else {
        document.getElementById("info").innerHTML = "This is not a valid attack target."
      }
    },
    attackDamage: function(cell,desc) {
      let healthLost=0
      if (desc=="phys")
      {
        healthLost = Math.max(this.firstIconClicked.archetype.damage - cell.archetype.physicalDefence, 0)
      }
      else {
        healthLost = Math.max(this.firstIconClicked.archetype.damage - cell.archetype.magicalDefence, 0)
      }
      this.grid[cell.x][cell.y].archetype.health -= healthLost
      document.getElementById("info").innerHTML = cell.archetype.name + " has lost " + healthLost + " health."
      if (this.grid[cell.x][cell.y].archetype.health <= 0) {
        document.getElementById("info").innerHTML = cell.archetype.name + " has died."
        if (cell.archetype.player == 1) {
          this.playerOneUnitsLeft -= 1
        } else {
          this.playerTwoUnitsLeft -= 1
        }
        this.grid[cell.x][cell.y].image = null
        this.grid[cell.x][cell.y].archetype = null
      }
      this.grid[this.firstIconClicked.x][this.firstIconClicked.y].hasAttacked = true
      this.grid[this.firstIconClicked.x][this.firstIconClicked.y].hasMoved = true
    },
    endGame: function() {
      if (this.playerOneUnitsLeft <= 0) {
        document.getElementById("info").innerHTML = "Player 2 wins. You can now bathe in the blood of your former enemy."

      } else if (this.playerTwoUnitsLeft <= 0) {
        document.getElementById("info").innerHTML = "Player 1 wins. You can now bathe in the blood of your former enemy."
      }
      this.gridSetup()
      this.gameStart = true
      this.playerOneUnitsLeft = 5
      this.playerTwoUnitsLeft = 5
      this.firstIconClicked = null
      this.numberOfPiecesChosen = 0
      this.movementChosen=false
    },
    endTurn: async function() {
      this.playerTurn = !this.playerTurn
      this.showWhichPlayerTurn(this.playerTurn)
      await this.sleep(1000)
      this.showStats(cell)
      for (let i = 0; i < this.grid.length; i++) {
        for (let j = 0; j < this.grid.length; j++) {
          this.grid[i][j].hasMoved = false
          this.grid[i][j].hasAttacked = false
          this.grid[i][j].style = 'border:1px solid black'
          if (this.grid[i][j].archetype) {
            this.grid[i][j].archetype.movementToken = this.grid[i][j].archetype.movement
          }
        }
      }
      this.movementChosen=false
    },
    showStats: function(cell) {
      if (cell.image) {
        this.renderStatsToPage([cell.archetype.name, "Health: " + cell.archetype.health, "Attack Range: " + cell.archetype.range, "Attack Damage: " + cell.archetype.damage, "Physical Defence: " + cell.archetype.physicalDefence, "Magical Defence: " +
          cell.archetype.magicalDefence
        ])
      }
    },
    renderStatsToPage: function(stats = ["", "", "", "", "", ""]) {
      for (let i = 0; i < 6; i++) {
        document.getElementById("stat" + (i + 1)).innerHTML = stats[i]
      }
    },
    sleep: function(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
    resign: function() {
      if (this.playerTurn) {
        this.playerOneUnitsLeft = 0
        this.endGame()
      } else {
        this.playerTwoUnitsLeft = 0
        this.endGame()
      }
    },
  },
  mounted: function() {
    this.gridSetup()
  }
}
</script>

<style>
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: white;
}

.rowLoop {
  height: 82px
}

.disappear {
  display: none;
}

.menu {
  padding-right: 50px;
  display: table-cell;
  vertical-align: middle;
}

.sideScreen {
  padding: 5px;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid black;
}

.playerName {
  display: inline-block;
  height: 86px;
  width: 86px;
}

.button {
  display: block;
}
</style>
